@import "./settings";
@import "./layout/header";
@import "./layout/title-pages";
@import "./layout/footer";
@import "./layout/section-contact";
@import "./components/chatbot";
@import "./components/buttons";
@import "./components/sections";
@import "./pages/accueil";
@import "./pages/about";
@import "./pages/services";
@import "./pages/sous-services";
@import "./pages/contact";
@import "./pages/legal";
@import "./pages/formation";
